<div class="container__menu-socia-media">
  <ul>
    <li>
      <a href="https://www.linkedin.com/in/elizabetefabri">
        <img src="../../../assets/images/icons/icons8-linkedin-48.png" target="_blank" alt="Icone do Linkedin">
      </a>
    </li>
    <li><span>•</span></li>
    <li>
      <a href="https://github.com/ElizabeteFabri">
        <img src="../../../assets/images/icons/icons8-github-48.png" target="_blank" alt="Icone do GitHub">
      </a></li>
    <li><span>•</span></li>
    <li><a href="https://elizabete.notion.site/elizabete/Caderno-de-Estudos-DIO-e3f385c2993848f2b4423b32b6d15c55">
      <img src="../../../assets/images/icons/icons8-notion-50.png" target="_blank" alt="Icone do Notion">
    </a></li>
  </ul>
</div>
