.container__menu-socia-media {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.container__menu-socia-media ul {
  list-style: none;
  display: flex;
  gap: 1rem;
}

.container__menu-socia-media ul li {
  display: flex;
  align-items: center;
}

.container__menu-socia-media ul li a img {
  width: 3.125rem;
  height: 3.125rem;
  max-width: 100%;
}

.container__menu-socia-media ul li span {
  font-size: 1rem;
  line-height: 3.125rem;

}

.container__menu-socia-media ul li a img:hover {
  transform: scale(1.1);
  transition: transform 0.1s ease;
}
