<app-menu-social-title></app-menu-social-title>
<div class="container__articles">
  <div class="articles__main">

    <app-card-big
      Id="1"
      photoCover="https://github.com/ElizabeteFabri/dio-bootcamp-angular-java/raw/main/github/images/bgdio.png"
      cardTitle="Dio - BootCamp 2023"
      cardDescription="Bootcamp Santander 2023. Confira meus projetos no meu GitHub"
      >
    </app-card-big>

  </div>
  <div class="articles__others">
    <app-card-small
      Id="2"
      cardTitle="Desafio - 01 Listagem de Pokémons"
      photoCover="https://user-images.githubusercontent.com/67619417/266747548-14b01ad0-3999-4bb7-bbf6-85872cbf5702.png"
    >
    </app-card-small>
    <app-card-small
    Id="3"
    cardTitle="Dio - Angular Blog"
    photoCover="https://raw.githubusercontent.com/elizabetefabri/angular-blog/main/src/assets/images/capa-blog.png"
  >
  </app-card-small>
  <app-card-small
  Id="4"
  cardTitle="Dio - PlayStation Store"
  photoCover="https://raw.githubusercontent.com/elizabetefabri/angular-blog/main/src/assets/images/site-playstation.png"
>
</app-card-small>

  </div>
</div>
